# Reading Data
---
- Data is collected and stored in different file formats and the most commonly used used format for storing data is the spreadsheet format.
- In a spreadsheet format, the data is stored in rows and columns.
  - Each row is called a record
  - Each column (variable) in a spreadsheet holds data belonging to same datatype.
- Commonly used spreadsheet formats are "*Comma Separated Values(CSV)*" and "*Excel(xlsx)*" sheets.
- Other formats where data can also be stored are <i>"Plain Text", "json", "html","mp3", "mp4"</i> etc.

## File Formats
---
Some commonly used file formats are :

1. Comma Separated Values
2. Excel Spreadsheet
3. Text Format

### Comma Separated Values
---
- Spreadsheet format
- Format `.csv`
- Each record is separated by a comma
- Files where records are separated using a tab (instead if comma) are called as "*Tab Separated Values(.tsv)*".
- `.csv` files can be opened with notepad or, Microsoft Excel.

### Excel Spreadsheet
---
- Spreadsheet format
- Format `.xlsx`
- Part of Microsoft Office.

### Text Format
---
- Contains plain text or, reccord
- Format `.txt`

## Importing Data
---
Some necessary libraries that we need for importing and working with data in different file formats are :

1. `os` library to change the working directory (Especially for "Spyder" IDE)
2. `pandas` library to work with dataframes.

In [0]:
import pandas as pd

### Importing `.csv` File
---
- Comma separated values can be read by using `pandas` by using the following syntax :
```python
data_csv = pandas.read_csv(File Path)
```
- The blank cells in the datasets are read as `NaN`.

In [0]:
from google.colab import drive
drive.mount("/content/drive/")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_csv_data.csv"
data_csv = pd.read_csv(path)
data_csv

     Unnamed: 0 SepalLengthCm  ...  PetalWidthCm         Species
0             1           5.1  ...           0.2     Iris-setosa
1             2           4.9  ...           0.2             NaN
2             3           4.7  ...           0.2     Iris-setosa
3             4            ??  ...           0.2     Iris-setosa
4             5             5  ...           0.2     Iris-setosa
..          ...           ...  ...           ...             ...
145         146           6.7  ...           2.3  Iris-virginica
146         147           6.3  ...           1.9  Iris-virginica
147         148           6.5  ...           2.0  Iris-virginica
148         149           6.2  ...           2.3  Iris-virginica
149         150           5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

- We get an extra `id` column which is not required.
- So, we can remove this by passing an additional argumnet `index_col = 0`

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_csv_data.csv"
data_csv = pd.read_csv(path, index_col=0)
data_csv

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

- Also, we have some missing values in the datasets, which are represented by `??` and `###` instead of `NaN`.
- These special characters will create problem during the analysis and hence need to be converted as `NaN`.
- Junk values can be converted to `NaN` by passing them as a list to the parameter `na_values`

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_csv_data.csv"
data_csv = pd.read_csv(path, index_col=0, na_values=["??","###"])
data_csv

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

### Importing `.xlsx` File
---
- Excel files can be read by using `pandas` by using the following syntax :
```python
data_xlsx = pandas.read_excel('File Path',sheet_name = "Sheet name")
```
- The blank cells in the datasets are read as `NaN`.
- We can also remove the junk values and extra id column in the same fashion as we did for `.csv` files.

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_exl_data.xlsx"
data_xlsx = pd.read_excel(path, sheet_name="Iris_data", index_col=0, na_values=["??","###"])
data_xlsx

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

### Importing Text Format File
---
- Text files can be read by using `pandas` by using the following syntax :
```python
data_txt = pandas.read_table('File Path')
```

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_txt_data.txt"
data_txt1 = pd.read_table(path)
data_txt1

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

- We can see that, all the columns are read and stored in a single column of dataframe.
- So, in order to avoid this, we need to provide a delimiter to the parameters `sep` or, `delimiter`.
- The defautl delimiter of text files is a tab and represented by `\t`.

In [3]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_txt_data.txt"
data_txt1 = pd.read_table(path, sep="\t")
data_txt1

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

- We can see that the `\t` delimiter doesn't work for this text files.
- So, other commonly used delimiters in text files are commas and blanks.
- So, lets try both of them and see which one works

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_txt_data.txt"
data_txt1 = pd.read_table(path, sep=",")
data_txt1

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_txt_data.txt"
data_txt1 = pd.read_table(path, sep=" ")
data_txt1

     Unnamed: 0  SepalLengthCm  ...  PetalWidthCm         Species
1             1            5.1  ...           0.2     Iris-setosa
2             2            4.9  ...           0.2     Iris-setosa
3             3            4.7  ...           0.2     Iris-setosa
4             4            4.6  ...           0.2     Iris-setosa
5             5            5.0  ...           0.2     Iris-setosa
..          ...            ...  ...           ...             ...
146         146            6.7  ...           2.3  Iris-virginica
147         147            6.3  ...           1.9  Iris-virginica
148         148            6.5  ...           2.0  Iris-virginica
149         149            6.2  ...           2.3  Iris-virginica
150         150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

- So, we can see, in this particular text format file, comma as a delimiter also gives the same output as tab delimiter.
- However, when we use blank then, we get the required result.
- The blank cells in the datasets are read as `NaN`in the text format files.
- We can also remove the junk values and extra id column in the same fashion as we did for `.csv` ans `.xlsx` files.

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_txt_data.txt"
data_txt1 = pd.read_table(path, sep=" ",index_col = 0, na_values = ["??","###"] )
data_txt1

     Unnamed: 0  SepalLengthCm  ...  PetalWidthCm         Species
1             1            5.1  ...           0.2     Iris-setosa
2             2            4.9  ...           0.2     Iris-setosa
3             3            4.7  ...           0.2     Iris-setosa
4             4            4.6  ...           0.2     Iris-setosa
5             5            5.0  ...           0.2     Iris-setosa
..          ...            ...  ...           ...             ...
146         146            6.7  ...           2.3  Iris-virginica
147         147            6.3  ...           1.9  Iris-virginica
148         148            6.5  ...           2.0  Iris-virginica
149         149            6.2  ...           2.3  Iris-virginica
150         150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

- Instead of using `read_table()`, we can also use `read_csv()` to read the `.txt` files.

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Datasets/Iris_txt_data.txt"
data_txt2 = pd.read_csv(path, sep=" ",index_col = 0, na_values = ["??","###"] )
data_txt2

     Unnamed: 0  SepalLengthCm  ...  PetalWidthCm         Species
1             1            5.1  ...           0.2     Iris-setosa
2             2            4.9  ...           0.2     Iris-setosa
3             3            4.7  ...           0.2     Iris-setosa
4             4            4.6  ...           0.2     Iris-setosa
5             5            5.0  ...           0.2     Iris-setosa
..          ...            ...  ...           ...             ...
146         146            6.7  ...           2.3  Iris-virginica
147         147            6.3  ...           1.9  Iris-virginica
148         148            6.5  ...           2.0  Iris-virginica
149         149            6.2  ...           2.3  Iris-virginica
150         150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]